# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.js
*.html
*.png
*.css
build/CMakeFiles/stm32_spinner_project.dir/link.txt
build/Debug/stm32_spinner_project.bin
build/.cmake/api/v1/reply/codemodel-v2-266db49fb6621a6af4fd.json
build/.cmake/api/v1/reply/codemodel-v2-cbd3fbff4ea2d79bcb17.json
build/.cmake/api/v1/reply/index-2021-05-07T14-07-12-0330.json
build/.cmake/api/v1/reply/index-2021-05-07T14-31-05-0021.json
build/.cmake/api/v1/reply/target-.bin-Debug-4c8e02fe8436a54dc595.json
build/.cmake/api/v1/reply/target-.bin-Debug-c7cb8a7e14a02d880caa.json
build/.cmake/api/v1/reply/target-.lst-Debug-4b454b85af2ffef80a35.json
build/.cmake/api/v1/reply/target-.lst-Debug-94c53dee94b49451211a.json
build/.cmake/api/v1/reply/target-stm32_spinner_project-Debug-c63d166e30e4ac44631c.json
build/.cmake/api/v1/reply/target-stm32_spinner_project-Debug-e4df73b1eac529e35740.json
build/.cmake/api/v1/reply/codemodel-v2-266db49fb6621a6af4fd.json
build/.cmake/api/v1/reply/index-2021-05-07T14-07-12-0330.json
build/.cmake/api/v1/reply/target-.bin-Debug-4c8e02fe8436a54dc595.json
build/.cmake/api/v1/reply/target-.lst-Debug-94c53dee94b49451211a.json
build/.cmake/api/v1/reply/target-stm32_spinner_project-Debug-e4df73b1eac529e35740.json
build/CMakeFiles/stm32_spinner_project.dir/link.txt
build/Debug/stm32_spinner_project.bin
build/CMakeFiles/stm32_spinner_project.dir/link.txt
lib/STM32Cube_FW_F4_V1.25.1/Middlewares/ST/TouchGFX/installer/TouchGFX-4.10.0.msi
build/*
